{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content_block %}
<div class="container">
    <h1>Регистрация</h1>
    <h3>Процесс регистрации:</h3>
    <p><strong>Обратите внимание на то, что номер телефона и электронная почта не являются обязательными полями. Фамилия ребенка в форме указывает на ребенка через которого пользователь желает привязаться к группе. Пользователь привязывается к группе только после подтверждения личности регистранта. По этому номер телефона является желательным. Персонал сайта сможет легче с Вами связаться и убедиться, что Вы имеете право на привязку к группе.</strong></p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Зарегестрироваться" class="btn btn-success">
    </form>
</div>
{% endblock %}