{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- JQuery -->

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- MY JAVASCRIPT -->
	<script src="{% static 'js/main.js' %}"></script>
	<title>ДНЗ 144</title>
</head>
<body>
	<a href="{% url 'home' %}"><h1 class="text-decoration-none text-center">ДНЗ 144</h1></a>
	{% if user.is_authenticated %}
	<a href="{% url 'accounts:account_detail' pk=user.pk %}"><h3>Вы зашли как {{ user.get_username }}.</h3></a>
	<h4>Вам доступна информация по группе: {% for group in user.get_group_list %}{{ group }}{% endfor %}.</h4>
	<a href="{% url 'accounts:logout' %}"><h3>Выйти из учетной записи.</h3></a>
	{% else %}
	<a href="{% url 'accounts:login' %}"><p>Войдите в учетную запись.</p></a>
	<a href="{% url 'accounts:signup' %}"><p>Или подайте заявку на регистрацию.</p></a>
	{% endif %}
	<div>
		<nav>
			<ul class="nav nav-tabs justify-content-center">
				<a class="nav-link" href="{% url 'home' %}"><li class="nav-item">Главная</li></a>
				<a class="nav-link" href="{% url 'services:services_main' %}"><li class="nav-item">Сервисы</li></a>
				<a class="nav-link" href="{% url 'info' %}"><li class="nav-item">Информация</li></a>
				<a class="nav-link" href="{% url 'contacts' %}"><li class="nav-item">Контакты</li></a>
			</ul>
		</nav>
	</div>
	{% block content_block %}{% endblock %}
</body>
</html>