{% extends 'info.html' %}


{% block info_block %}
	<p>Расписания</p>
	<p>Режим роботи: з 7.00 до 19.00.</p>
	<h4>Режим дня</h4>
	<table>
		<tr>
			<td>{{"Занятие"|upper}}</td>
			<td>{{"Время"|upper}}</td>
		</tr>
		<tr>
			<td>{{"завтрак"|capfirst}}</td>
			<td>8.00</td>
		</tr>
		<tr>
			<td>{{"Заявка на еду"|capfirst}}</td>
			<td>8.15</td>
		</tr>
		<tr>
			<td>{{"музыка"|capfirst}}</td>
			<td>9.30</td>
		</tr>
		<tr>
			<td>Утренняя прогулка</td>
			<td>10.00</td>
		</tr>
		<tr>
			<td>Сон</td>
			<td>11.30</td>
		</tr>
		<tr>
			<td>Подъем</td>
			<td>15.30</td>
		</tr>
		<tr>
			<td>Ужин</td>
			<td>16.00</td>
		</tr>
		<tr>
			<td>Вечерняя прогулка</td>
			<td>16.30</td>
		</tr>
	</table>
{% endblock %}