{% extends 'info.html' %}

{{ request.user.get_group_list }}
	<p>Расписания</p>
	<p>Режим роботи: з 7.00 до 19.00.</p>
	<h4>Режим дня</h4>
	<table>
		<tr>
			<td>{{"Занятие"|upper}}</td>
			<td>{{"Время"|upper}}</td>
		</tr>
		<tr>
			<td>{{"завтрак"|capfirst}}</td>
			<td>8.15</td>
		</tr>
		<tr>
			<td>Утренняя прогулка</td>
			<td>10.00</td>
		</tr>
		<tr>
			<td>Обед</td>
			<td>12.00</td>
		</tr>
		<tr>
			<td>Дневной сон</td>
			<td>12.30</td>
		</tr>
		<tr>
			<td>Ужин</td>
			<td>16.30</td>
		</tr>
		<tr>
			<td>Вечерняя прогулка</td>
			<td>17.30</td>
		</tr>
	</table>
{% endblock %}