{% extends 'kids_poll_base.html' %}


{% block kids_poll_content %}
<h2>Опросы</h2>
<div>
{% if user.is_authenticated %}
	<a href="{% url 'services:kids_poll:polls_create' %}"><p class="btn btn-primary">Создать новый опрос</p></a>
{% endif %}
	{% if poll_list %}
	<ul class="list-group list-group-flush">
	{% for poll in poll_list %}
		<li class="list-group-item">
			<a class="text-dark" href="{% url 'services:kids_poll:poll_view' poll_id=poll.id %}">	<p class="font-weight-bold">{{ poll.question }}</p>
			</a>
		</li>
	{% endfor %}
	</ul>
	{% else %}
		<p>Опросов доступных вашей учетной записи не найдено.</p>
		<p>Возможно, вы забыли <a href="{% url 'login' %}">зайти в учетную запись</a>.</p>
	{% endif %}
</div>

{% endblock %}