{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content_block %}
{% if user.is_superuser %}
	<h1>Withdraw</h1>
	<form method="POST" id="withdraw-form">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-warning" type="submit" name="GO">	
	</form>
{% endif %}
{% endblock %}

<!-- JS -->
{% block js_block %}
<script type="text/javascript">
	$('#withdraw-form').submit(function(){
	    $.ajax({
	        type: "POST",
	        url: "{% url 'accounting:withdraw_submit' %}",
	        dataType: "json",
	        async: true,
	        data: $(this).serialize(),
	        success: function(response) {
	            alert('Операция создана!');

	        },
	        error:  function(response) {
	        	alert("Операция не удалась!")
	        }                 
	    });
	    return false;
	});
</script>
{% endblock %}