{% extends 'base.html' %}

{% block content_block %}
	<h1>Бухгалтерия</h1>
	{% block accounting_block %}
		<h3>Фонд: {{ kassa.name }}</h3>
		<p>Карта для пополнения фонда: {{ kassa.card }}</p>
		<p>Общие доходы: {{ kassa.get_deb_sum|floatformat:2 }}</p>
		<p>Общие расходы: {{ kassa.get_cre_sum|floatformat:2 }}</p>
		<p>Остаток: {{ kassa.get_saldo|floatformat:2 }}</p>
		<p>Оплатило: {{ kassa.kids_paid|length }}/{{ kassa.group.kids.all.count }}</p>
		<p>Последние данные были внесены: {{ kassa.operations.last.create_date|date:"d M Y" }}</p>
		{% if user.kids.first.id in kassa.kids_paid %}
		<p>Была оплата от {{ user.kids.first.last_name }}.</p>
		{% else %}
		<p>Оплаты от {{ user.kids.first.last_name }} небыло.</p>
		{% endif %}
		<p>Ваш баланс: {{ kid_balance|floatformat:2 }}</p>
	{% endblock %}

{% endblock %}