{% extends 'base.html' %}

{% block content_block %}
	<h1>Бухгалтерия</h1>
	<h4>Общий баланс группы: {{ total_sum|floatformat }}.</h4>
	<p>Ваш общий баланс: {{ user.get_balanse|floatformat:2 }}</p>
	{% for kassa in kassa_list %}
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">
				<a href="{{ kassa.get_absolute_url }}">Фонд: {{ kassa.name }}</a>
			</h5>
			<p class="card-text">{{ kassa.descripton }}</p>
			<p class="card-text">Остаток: {{ kassa.get_saldo|floatformat:2 }}</p>	
		</div>
	</div>
	{% endfor %}
{% endblock %}
