{% extends 'services/base.html' %}
{% load static %}

{% block spec_block %}
<h2>Закрытые вопросы</h2>
<div>
	{% if issuesmodel_list %}
	{% for issue in issuesmodel_list %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ issue.title }}</h5>
    <p class="card-text">{{ issue.description }}</p>
    <p class="card-text"><small class="text-muted">Тема закрыта: {{ issue.closed_date }}</small></p>
  </div>
</div>
	{% endfor %}
	{% else %}
		<p>Зактырых вопросов доступных вашей учетной записи не найдено.</p>
		<p>Возможно, вы забыли <a href="{% url 'login' %}">зайти в учетную запись</a>.</p>
	{% endif %}
</div>



{% endblock %}