{% extends 'services/base.html' %}
{% load static %}

{% block spec_block %}
<h2>Открытые вопросы</h2>
{% if user.is_authenticated %}
<a href="{% url 'services:issues_create' %}"><p class="btn btn-primary">Открыть новый вопрос</p></a>
{% endif %}
<div>
	{% if issuesmodel_list %}
	{% for issue in issuesmodel_list %}
		<div class="border border-info rounded-top">
			<h4>
				<a href="{% url 'services:issues_detail' pk=issue.pk %}">{{ issue.title|upper }}</a>
			</h4>
			<p>{{ issue.description|truncatechars:200 }}</p>
			<p>{{ issue.author }}</p>
			<p>{{ issue.created_date }}</p>
		</div>
	{% endfor %}
	{% else %}
		<p>Открытых вопросов доступных вашей учетной записи не найдено.</p>
		<p>Возможно, вы забыли <a href="{% url 'accounts:login' %}">зайти в учетную запись</a>.</p>
	{% endif %}
</div>



{% endblock %}